# --- Ignorar outputs de BitBake/Yocto (por defecto) ---
artifacts/**
downloads/
sstate-cache/
tmp/
build*/tmp/
*.dtb
bootfiles/
overlays/
yocto-*/

# --- Mantener SOLO las imágenes mínimas y su bmap/manifest ---
!artifacts/*.wic.bz2
!artifacts/*.wic.xz
!artifacts/*.rpi-sdimg.xz
!artifacts/*.wic.bmap
!artifacts/*.wic.bmap.gz
!artifacts/*rootfs.manifest
!artifacts/.gitkeep
!artifacts/README.md

# --- Ignorar videos ---
*.mp4
*.mov
*.mkv
*.avi

# --- Ignorar modelos pesados ---
*.pt
*.onnx
*.bin

# --- Python ---
.venv/
__pycache__/
*.pyc
